pc_application/windowsBin
pc_application/linuxBin
pc_application/bin
pc_application/sharedNetworkCode
pc_application/compile_commands.json

sysmodule_application/nx-TAS-PC.elf
sysmodule_application/nx-TAS-PC.npdm
sysmodule_application/nx-TAS-PC.nso
sysmodule_application/nx-TAS-PC.nsp
sysmodule_application/build
sysmodule_application/sharedNetworkCode