1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "TheGreatRambler"
			VALUE "FileDescription", "A TAS toolkit for the Nintendo Switch"
			VALUE "FileVersion", "3.0.0"
			VALUE "InternalName", "switas"
			VALUE "LegalCopyright", "TheGreatRambler"
			VALUE "OriginalFilename", "libswitas.dll"
			VALUE "ProductName", "SwiTAS"
			VALUE "ProductVersion", "3.0.0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END